# This is a CODEOWNERS file
# It uses pattern matching to specify who is responsible for specific files/directories
# Format: 
#   path/to/files/ @username @org/team

# Default owners for everything in the repo
* @kubliza @apollo-qe

# Default owners for everything in the repo
* @kubliza @apollo-qe

# Specific owners for test files
/tests/ @kubliza @apollo-qe
